:root{
    --clr-primary: #3F87F5;
}

.mainBgColor{
    background-color: var(--clr-primary);
}

body{
    font-family: "Poppins", sans-serif;
}

.width{
    max-width: 1128px;
}

.fs-1{
    font-size: 3rem !important;
}

.carousel-item img{
    filter: brightness(50%);
}

.momentBtn{
    background-color: var(--clr-primary);
}

.myCard h3, .myCard h4, .myCard a{
    font-family: "Roboto", sans-serif;
}

.myCard h3, .myCard h4{
    color: #221d4f;
}

.myCard a{
    background-color: #fef5fa;
}

.myCard h4{
    font-size: 1.75rem !important;
}

.myCard p, .myCard li{
    color: #848199;
    display: flex;
    align-items: center;
}

.myCard i{
    background-color: #5243c217;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    color: #5243C2;
    font-size: 1.5rem;
} 

.package h2{
    font-size: 2.375rem !important;
}

.recommend{
    background-color: var(--clr-primary);
    -webkit-box-shadow: 0px 49px 60px -27px rgba(63,136,245,0.72);
    -moz-box-shadow: 0px 49px 60px -27px rgba(63,136,245,0.72);
    box-shadow: 0px 49px 60px -27px rgba(63,136,245,0.72);
}

.recommend::before{
    content: ' ';
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-image: url(Images/Group\ 33161.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 200px -20px;
    opacity: 0.2;
}

.recommend li{
    background: transparent;
}

.recommend h3, .recommend h4, .recommend p, .recommend li, .recommend i{
    color: white !important;
}

.recommend i{
    background-color: #5293f6;
}

.hot{
    right: 2px;
    font-family: "Roboto", sans-serif;
    padding: 5px 10px;
    font-size: 0.875rem;
}

.testCol{
    width: 29.5%;
}

.accordion{
    font-family: "Inter", sans-serif;
}

.firstDiv , .secondDiv{
    font-family: "Manrope", sans-serif;
}
.firstDiv{
    font-size: 0.875rem;
}
.secondDiv h5{
    font-size: 1.125rem;
}

.formDiv{
    width: 100%;
    max-width: 700px;
}

.formDiv input{
    width: 100%;
}

.btnSubscribe:hover{
    background-color: black;
}

@media screen and (max-width: 768px) {
    .moment > .end-0{
        right: 50% !important;
        transform: translateX(50%);
    }

    .moment > .top-50{
        top: 0 !important;
    }

    .fs-1{
        font-size: 1.5rem !important;
    }

    .testCol{
        width: 100%;
    }
}
@media screen and (max-width: 576px) {

    .testCol{
        width: 100%;
    }
}